vim/plugged
tmux/tmux/resurrect/last
tmux/tmux/resurrect/tmux_resurrect_2018-12-02T09:42:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-02T09:57:26.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-02T15:28:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-02T15:43:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-02T17:33:38.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T00:37:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T01:25:44.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T20:52:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T21:07:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T22:22:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T22:37:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T22:52:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-03T23:07:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T03:09:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T05:04:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T05:46:29.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T06:27:16.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T07:05:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T08:01:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T08:16:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T08:55:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T09:10:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T09:27:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T09:42:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T09:57:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T10:37:11.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T10:52:11.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T12:11:54.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T12:41:54.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T13:16:47.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T13:31:47.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T14:01:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T15:00:22.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T16:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T17:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T17:18:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T17:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T18:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T18:18:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T18:33:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T19:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T19:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T20:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T20:18:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T20:33:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T20:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T21:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T21:18:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T21:33:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T22:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T22:33:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T22:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T23:03:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T23:18:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T23:33:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T23:48:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-04T23:48:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T00:03:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T00:18:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T00:34:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T01:13:24.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T02:46:00.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T04:05:29.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T04:20:30.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T05:19:29.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T05:57:51.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T06:31:30.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T07:05:20.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T07:43:34.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T07:58:34.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T09:09:43.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T12:07:58.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T13:56:23.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T15:11:00.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T15:26:00.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T15:48:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T16:03:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T16:18:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T16:57:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T18:27:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T19:27:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T19:42:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T19:57:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T20:12:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T20:27:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T20:42:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T20:57:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T21:12:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T21:42:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T21:57:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T22:12:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T22:42:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-05T23:27:25.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T01:11:17.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T03:50:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T04:05:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T07:45:10.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T10:19:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T12:12:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T12:27:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T12:57:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T13:12:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T14:54:44.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T15:43:00.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T16:13:00.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T17:24:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T17:39:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T18:09:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T18:24:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T18:39:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T19:09:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T19:24:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T19:39:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T20:24:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T20:54:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-06T21:24:21.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-07T13:07:28.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T08:20:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T11:36:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T11:51:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T12:06:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T15:09:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T15:24:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T21:51:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T22:07:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T23:48:20.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-09T23:59:58.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-10T00:00:54.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-10T00:09:44.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-10T00:24:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-10T09:31:37.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-11T10:26:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-11T10:41:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-11T10:56:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-11T15:36:36.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-11T16:06:36.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-13T08:59:46.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-13T09:29:46.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-16T10:28:58.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-16T11:58:43.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-17T20:58:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-18T15:38:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-18T16:08:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-18T16:23:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T10:14:31.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T10:29:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T11:00:32.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T14:03:33.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T20:49:23.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T21:09:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T21:39:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-19T21:54:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-20T07:36:52.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-20T08:22:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-20T08:37:08.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-20T08:52:14.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-20T16:46:20.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-22T16:34:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-23T12:05:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-23T12:20:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-23T15:28:39.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-23T15:43:39.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T08:27:59.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T08:43:53.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T14:12:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T14:57:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T15:12:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T15:27:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-24T15:42:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-25T10:51:22.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-25T15:23:01.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-25T15:38:01.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-25T15:53:01.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-26T08:47:18.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-26T12:56:13.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-26T15:10:12.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T14:11:50.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T16:59:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T17:14:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T20:59:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T21:14:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-27T21:29:05.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T13:05:33.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T13:35:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T14:20:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T14:35:40.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T15:05:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T15:20:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T15:36:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T15:51:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T16:07:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T16:22:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T16:37:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T16:52:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T17:07:41.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T18:19:34.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T18:35:33.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T22:08:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T22:23:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T22:38:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-28T22:53:27.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-29T10:34:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-29T10:49:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-29T19:50:02.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-29T22:24:49.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T07:35:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T08:05:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T08:20:57.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T08:36:01.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T09:36:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T09:51:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T10:06:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T10:36:56.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T10:51:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T11:06:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T11:21:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T11:36:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T11:36:55.txtlast
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T12:06:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T12:21:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T12:36:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T12:51:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T13:06:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T13:21:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T13:36:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T13:51:55.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T14:12:39.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T14:27:39.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T14:42:39.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T15:14:17.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T16:21:01.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T17:02:49.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T17:17:49.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-30T17:47:49.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T07:59:22.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T08:15:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T08:30:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T08:45:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T09:00:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T09:15:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T09:45:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T10:00:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T10:15:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T10:30:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T10:45:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T11:00:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T11:15:07.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T12:42:44.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T12:57:44.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T15:48:37.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T16:18:37.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T16:43:09.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T16:48:37.txt
tmux/tmux/resurrect/tmux_resurrect_2018-12-31T17:33:54.txt
tmux/tmux/resurrect/tmux_resurrect_2019-01-01T08:13:19.txt
tmux/tmux/resurrect/tmux_resurrect_2019-01-01T08:29:10.txt
tmux/tmux/resurrect/tmux_resurrect_2019-01-01T09:37:41.txt
tmux/tmux/resurrect/
